extends ../layouts/default

include ../mixins/carousel

block jumbotron
    // Main jumbotron for a primary marketing message or call to action
    .jumbotron
        .container
            h1 #{__('index.content.jumbotron.container.head')}
            p
                | #{__('index.content.jumbotron.container.text')}
            p
                a.btn.btn-primary.btn-lg #{__('index.content.jumbotron.container.button')} »

block content

    .row
        h3 There are no posts yet.
        a(href='/resort/') Test
    hr
    .row
        h1 The best holiday idea
        .col-lg-4
            h2 Heading
            p Article. 
            p View details »
        .col-lg-4
            h2 Heading
            p Article. 
            p View details »
        .col-lg-4
            h2 Heading
            p Article. 
            p View details »
    hr
    .row
        h1 The country list
        #world-map
        // TODO: implement a button to show the country list for choice
    hr
    .row
        h1 The best resorts, see all rentals in the resort
        .col-lg-9
            +carousel
        .col-lg-3